@{
    ViewBag.Title = "about";
}

			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							
							<div>
								<h1>ABOUT US</h1>
								<img src="~/images/about.jpg" alt="Img" height="230" width="550">
								<h2>Making People Happy!</h2>
								<span class="time">By:<br> <b>Sumayyah Manoor<br>BSEF13M518</b></span>
                                <p>This is Enterprise Application Development (EAD) project made by Sumayyah Manzoor under the supervision of <b>Naeylah Siddiqui</b> in 6th semester at PUCIT. 
                               </p>
                                   <p>
                                    We take people out from there daily hactic routine and and give them a chance to relax and involve there mind in some other things.
                                    The on our site help people to check thier IQ level and to improve it. They can also check thier psychology behaviours. And can test 
                                    their personality.

								</p>
                                <p> We are here to tell you who u are inside that What is your level and then help you to increase it.
                                    </p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		