@{
    ViewBag.Title = "adminMenu";
}
@{
    Layout = null;    
}
<html>
<head>
	<meta charset="UTF-8">
	<title>Online Quiz System</title>
	<link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
                    <img src="~/images/logo.png" alt="LOGO" height="100" width="270">
				</div>
				
			</div>
       <div id="contents">
				<div class="box">
					<div>
						<div class="body">
                            <h1>Admin Menu</h1>
                            <br>
                            <h2>>> Admin Management</h2>
                            <table>
                                <tr>
                                    <td><b><a href="~/Home/addAdmin">>Add Admin</a></b><td>     
                                </tr>
                                <tr>
                                    <td><b><a href="~/Home/deleteAdmin">>Delete Admin</b><td>                                   
                                </tr>
                                
                             </table>
                            <br>
                       
                           <h2>>> Add Quiz Questions</h2>
                            <table>
                                <tr>
                                    <td><b>>General Knowledge</b><td>
                                   <td><b>>Mathametics</b><td>
                                   <td><b>>Vocabulary</b><td>
                                </tr>
                                <tr>
                                    <td><b>>Decision Making</b><td>
                                   <td><b>>Imagination</b><td>
                                   <td><b>>Emotions Test</b><td>
                                </tr>
                                <tr>
                                    <td><b>>Depression Test</b><td>
                                   <td><b>>Anxiety Test</b><td>
                                   <td><b>>Memory Test</b><td>
                                </tr>
                             </table>
                            <br>
                            <h2>>> Delete Quiz Questions</h2>
                            <table>
                                <tr>
                                    <td><b>>General Knowledge</b><td>
                                   <td><b>>Mathametics</b><td>
                                   <td><b>>Vocabulary</b><td>
                                </tr>
                                <tr>
                                    <td><b>>Decision Making</b><td>
                                   <td><b>>Imagination</b><td>
                                   <td><b>>Emotions Test</b><td>
                                </tr>
                                <tr>
                                    <td><b>>Depression Test</b><td>
                                   <td><b>>Anxiety Test</b><td>
                                   <td><b>>Memory Test</b><td>
                                </tr>
                             </table>
                            <br>
                            <h2>>> Edit Quiz Questions</h2>
                            <table>
                                <tr>
                                    <td><b>>General Knowledge</b><td>
                                   <td><b>>Mathametics</b><td>
                                   <td><b>>Vocabulary</b><td>
                                </tr>
                                <tr>
                                    <td><b>>Decision Making</b><td>
                                   <td><b>>Imagination</b><td>
                                   <td><b>>Emotions Test</b><td>
                                </tr>
                                <tr>
                                    <td><b>>Depression Test</b><td>
                                   <td><b>>Anxiety Test</b><td>
                                   <td><b>>Memory Test</b><td>
                                </tr>
                             </table>
                            <br>
                            
 						
						</div>
					</div>
				</div>
			</div>

            		</div>
		
	</div>
</body>
</html>
		
			
		