@{
    ViewBag.Title = "front";
}


<div id="contents">
				<div id="adbox">
					<img src="~/images/frontImg.png" alt="Img" height="425" width="850">
					<h1>THE LAND OF QUIZEZ</h1>
					<p>
                        You have entered the land of quizez. Play Interesting IQ, Personality and Psychology games. A typical IQ test aims to determine the level of intelligence of the person taking the test. The average score is 100, persons with IQ of 130 or more are deemed as highly intelligent.This website provides a collection of interactive personality tests with detailed results that can be taken for personal entertainment or to learn more about your personality. Psychology is the scientific study of how people behave, think and feel.Psychologists study everything about the human experience from the basic workings of the human brain to consciousness, memory, reasoning and language to personality and mental health.
					</p>
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Quizez</h3>
								<ul>
									<li>
                                        
										<h4><a href="~/Home/iqGames">IQ GAMES</a></h4>
                                        <br>
										<p>
                                            A typical IQ test aims to determine the level of intelligence of the person taking the test. The average score is 100, persons with IQ of 130 or more are deemed as highly intelligent.
                                        </p>
                                        <br>
									</li>
                                    
									<li>
                                        
										<h4><a href="~/Home/personality">PERSONALITY GAMES</a></h4>
                                        <br>
										<p>
											This website provides a collection of interactive personality tests with detailed results that can be taken for personal entertainment or to learn more about your personality.
                                        </p>
                                        <br>
									</li>
                                    
                                    <li>
                                        
										<h4><a href="~/Home/psychology">PSYCHOLOGY GAMES</a></h4>
										<br>
										<p>
											Psychologists study every thing about the human experience from the basic workings of the human brain to memory, reasoning and language to personality and mental health.
										</p>
                                        <br>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				<div id="sidebar">
					<div class="section">
						<a href="~/Home/iqgames"><img src="~/images/IQ.png" alt="Img" height="150" width="300" ></a>
					</div>
					<div class="section">
						<a href="~/Home/personality"><img src="~/images/personality.png" alt="Img" height="150" width="300" ></a>
					</div>
					<div class="section">
						<a href="~/Home/psychology"><img src="~/images/psychology.jpg" alt="Img" height="150" width="300" ></a>
					</div>
				</div>
			</div>
