@{
    ViewBag.Title = "iqgames";
}

			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>IQ GAMES</h1>
							<ul id="rooms">
								<li>
									<a href="~/Home/quizGk"><img src="~/images/gk.jpg" alt="Img" height="200" width="200"></a>
									<h2><a href="~/Home/quizGk">General Knowledge</a></h2>
									<p>
										General knowledge about pop culture, history, and the like may not be of much use in everyday life (unless you're a contestant on a game show), but it's always fun to see how much you really know about the world around you. Put your knowledge to the test with this fun quiz. Read each question carefully and choose the response that you.

									</p>
									
								</li>
								<li>
									<a href="~/Home/quizMath"><img src="~/images/math.jpg" alt="Img" height="200" width="200"></a>
									<h2><a href="~/Home/quizMath">Mathematics</a></h2>
									<p>
										A Mathematical intelligence generally represents your ability to reason and to calculate basic arithmetic computations. It also helps you to understand geometric shapes and manipulate equations. Mathematical intelligence is a strong indicator of general intelligence because many every day mental tasks require arithmetical operations even</p>
									
								</li>
								<li>
									<a href="~/Home/quizVocab"><img src="~/images/vocab.png" alt="Img" height="200" width="200"></a>
									<h2><a href="~/Home/quizVocab">Vocabulary</a></h2>
									<p>
                                        This is an interactive vocabulary test that gives results in the form of an IQ score.Read each question carefully and choose the response that you feel is correct.
									</p>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		