@{
    ViewBag.Title = "personality";
}

			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Personality Test</h1>
							<ul id="sites">
								<li>
									<a href="~/Home/quizDecision"><img src="~/images/decision.png" alt="Img" height="200" width="250"></a>
									<h2><a href="~/Home/quizDecision">Decision Making</a></h2>
									<p>
										Take our short quiz to assess your current decision-making practice and<br> find how Good is Your Decision-Making ability is!

									</p>
								</li>
								<li>
									<a href="~/Home/quizImagination"><img src="~/images/imagination.png" alt="Img" height="200" width="250"></a>
									<h2><a href="~/Home/quizImagination">Imaginations Test</a></h2>
									<p>Not many people realize that imagination is one of the most important tools in their business skill. This test will help you evaluate your imagination and creativity.
									</p>
									
								</li>
								<li>
									<a href="~/Home/quizEmotion"><img src="~/images/emotions.png" alt="Img" height="200" width="250"></a>
									<h2><a href="~/Home/quizEmotion">Emotions Test</a></h2>
									<p>What is your emotional type? Knowing it can help you better understand the right treatment for your chronic illness or pain.
										</p>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		
