@{
    ViewBag.Title = "psychology";
}

			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Psychology Test</h1>
							<ul id="rooms">
								<li>
									<a href="~/Home/quizDepression"><img src="~/images/depression.png" alt="Img" height="200" width="200"></a>
									<h2><a href="~/Home/quizDepression">Deppression Test</a></h2>
									<p>Most of us feel discouraged, or down once in a while, but for some people, this mood does not go away.If you are feeling like this for a sustained period, you may be experiencing depression. Taking the Test is a good way to evaluate different aspects of your life at the moment.</p>
									
								</li>
								<li>
									<a href="~/Home/quizAnxiety"><img src="~/images/anxiety.png" alt="Img" height="200" width="200"></a>
									<h2><a href="~/Home/quizAnxiety">Anxiety Test</a></h2>
									<p>
										Anxiety is a normal human emotion that everyone experiences at times. Many people feel anxious, or nervous, when faced with a problem at work, before taking a test, or making an important decision. Play the game to find out whether you are anxious or not.</p>
									
								</li>
								<li>
									<a href="~/Home/quizMemory"><img src="~/images/memory.png" alt="Img" height="200" width="200"></a>
									<h2><a href="~/Home/quizMemory">Memory Test</a></h2>
									<p>
                                      There are several techniques that you can use to improve your memory. Try the following exercise to see how well you normally remember things.</p>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		